################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/bin/x64/Debug/net9.0-windows
/obj
/Properties/PublishProfiles
/publish
/bin/x64/Release/net9.0-windows/win-x64
/bin
/.reasonix
